<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EA102G2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/EA102G2DB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/mem/mem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/emp/emp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>C2cproMainServlet</servlet-name>
		<servlet-class>com.c2cpro_main.controller.C2cproMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C2cproMainServlet</servlet-name>
		<url-pattern>/front_end/c2cproMain/c2cproMain.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>C2cproDetailServlet</servlet-name>
		<servlet-class>com.c2cpro_detail.controller.C2cproDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C2cproDetailServlet</servlet-name>
		<url-pattern>/front_end/c2cproMain/c2cproDetail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>C2cproRepServlet</servlet-name>
		<servlet-class>com.c2cpro_rep.controller.C2cproRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C2cproRepServlet</servlet-name>
		<url-pattern>/front_end/c2cproMain/c2cproRep.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>C2csoMainServlet</servlet-name>
		<servlet-class>com.c2cso_main.controller.C2csoMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C2csoMainServlet</servlet-name>
		<url-pattern>/front_end/c2cproMain/c2csoMain.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TextMainServlet</servlet-name>
		<servlet-class>com.text_main.controller.TextMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TextMainServlet</servlet-name>
		<url-pattern>/front_end/textmain/textmain.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MsgServlet</servlet-name>
		<servlet-class>com.msg.controller.MsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MsgServlet</servlet-name>
		<url-pattern>/front_end/msg/msg.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FrontendB2cproMainServlet</servlet-name>
		<servlet-class>com.front_end_b2cpro_main.controller.FrontendB2cproMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontendB2cproMainServlet</servlet-name>
		<url-pattern>/front_end/front_b2cpro_main/front_b2cpro_main.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TextRepServlet</servlet-name>
		<servlet-class>com.text_rep.controller.TextRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TextRepServlet</servlet-name>
		<url-pattern>/back_end/textrep/textrep.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RepairMainServlet</servlet-name>
		<servlet-class>com.repair_main.controller.RepairMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepairMainServlet</servlet-name>
		<url-pattern>/front_end/repairApplication/repairMain.do</url-pattern>
		<url-pattern>/back_end/repairMain/repairMain.do</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>RepairStatusServlet</servlet-name>
		<servlet-class>com.repair_status.controller.RepairStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepairStatusServlet</servlet-name>
		<url-pattern>/front_end/repairApplication/repairStatus.do</url-pattern>
		<url-pattern>/back_end/repairMain/repairStatus.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>B2csoServlet</servlet-name>
		<servlet-class>com.b2cso_main.controller.B2csoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>B2csoServlet</servlet-name>
		<url-pattern>/b2cso/b2cso.do</url-pattern>
	</servlet-mapping>
	<!-- 前台濾器 -->
	<filter>
		<filter-name>frontLoginFilter</filter-name>
		<filter-class>filters.FrontEndLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>frontLoginFilter</filter-name>
		<url-pattern>/front_end/membercenter/*</url-pattern>
		<url-pattern>/front_end/textmain/*</url-pattern>
		<url-pattern>/front_end/msg/*</url-pattern>
		<url-pattern>/front_end/repairApplication/*</url-pattern>
		<url-pattern>/front_end/c2cproMain/myshop.jsp</url-pattern>
  	    <url-pattern>/front_end/c2cproMain/addC2cproMain.jsp</url-pattern>
        <url-pattern>/front_end/c2cproMain/addC2cproDetail.jsp</url-pattern>
		<url-pattern>/front_end/c2cproMain/c2cSeller.jsp</url-pattern>
        <url-pattern>/front_end/report/myReport.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<!-- 後台濾器 -->
	<filter>
		<filter-name>backLoginFilter</filter-name>
		<filter-class>filters.BackEndLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>backLoginFilter</filter-name>
		<url-pattern>/back_end/b2cproduct/*</url-pattern>
		<url-pattern>/back_end/b2cso/*</url-pattern>
		<url-pattern>/back_end/bidding/*</url-pattern>
		<url-pattern>/back_end/catagory/*</url-pattern>
		<url-pattern>/back_end/compatibility/*</url-pattern>
		<url-pattern>/back_end/emp/*</url-pattern>
		<url-pattern>/back_end/home/*</url-pattern>
		<url-pattern>/back_end/member/*</url-pattern>
		<url-pattern>/back_end/msg/*</url-pattern>
		<url-pattern>/back_end/promotion/*</url-pattern>
		<url-pattern>/back_end/repairMain/*</url-pattern>
		<url-pattern>/back_end/report/*</url-pattern>
		<url-pattern>/back_end/spec/*</url-pattern>
		<url-pattern>/back_end/textmain_rep/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<listener>
		<listener-class>com.timertask.TimerTas</listener-class>
	</listener>

</web-app>